<project-inline-select class="w-full"
                       [formControl]="control"
                       [items]="priorities"
                       valueKey="value"
                       labelKey="value"
                       [selectedTemplate]="defaultTemplate"
                       [optionTemplate]="optionTemplate">
</project-inline-select>
<ng-template #optionTemplate
             let-priority>
    <div class="flex items-center">
        <svg-icon [name]="priority.icon"
                  [size]="20"
                  [style.color]="priority.color">
        </svg-icon>
        <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ priority.value }}</span>
    </div>
</ng-template>
<ng-template #defaultTemplate
             let-selected>
    <div class="flex items-center">
        <svg-icon [name]="getPriorityIcon(selected?.value)?.icon"
                  [style.color]="getPriorityIcon(selected?.value)?.color"
                  [size]="20">
        </svg-icon>
        <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ selected?.value }}</span>
    </div>
</ng-template>
